body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #304578;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}


.container {
    position: absolute;
    width: 200px;
    height: 200px;
    cursor: grab;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid #ffffff;
}

.scene {
    border: 1px solid #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg); /* Initial rotation */
    perspective: 500px;
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Visible face color */
    border: 1px solid #000;
    backface-visibility: hidden;
    user-select: none; /* Hide the back faces when rotated */
    border-radius: 5px;
}
.face.front {
    transform: translateZ(100px);
}
.face.back {
    transform: rotateY(180deg) translateZ(100px);
}
.face.right {
    transform: rotateY(90deg) translateZ(100px);
}
.face.left {
    transform: rotateY(-90deg) translateZ(100px);
}
.face.top {
    transform: rotateX(90deg) translateZ(100px);
}
.face.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.small-cube {
    width: 50px;
    height: 50px;
    transform: translateZ(-25px);
    position: absolute;
    top: 25%;
    left: 25%;
    transform-style: preserve-3d;
}

.small-cube .face.front {
    transform: translateZ(25px);
}
.small-cube .face.back {
    transform: rotateY(180deg) translateZ(25px);
}
.small-cube .face.right {
    transform: rotateY(90deg) translateZ(25px);
}
.small-cube .face.left {
    transform: rotateY(-90deg) translateZ(25px);
}
.small-cube .face.top {
    transform: rotateX(90deg) translateZ(25px);
}
.small-cube .face.bottom {
    transform: rotateX(-90deg) translateZ(25px);
}